# PyMongo!

## Connect to the Cluster!

In this activity, you will use Python to interact with a Mongo Database stored on a remote (Cloud) server! This is very realistic in terms of how you might interact with a NoSQL database like MongoDB.  It will be large and not stored on a single machine and certainly not on your local machine. 
We have a loaded a collection of documents about restaurants in New York City into a MongoDB cluster. First you will import the necessary modules, PyMongo and Pandas. Next you establish a connection to the cluster (either Morgan's or Dr. Rigas') using a connection string. Lastly you specify the database and collection within the cluster that we want to work with.

In [3]:
import pymongo
from pymongo import MongoClient
import pandas as pd
client = MongoClient('mongodb://DS220Users:ds220fa19@msterling-shard-00-00-0pfrg.mongodb.net:27017,msterling-shard-00-01-0pfrg.mongodb.net:27017,msterling-shard-00-02-0pfrg.mongodb.net:27017/test?ssl=true&replicaSet=MSterling-shard-0&authSource=admin&retryWrites=true&w=majority')  #Use one of the instructors' connection strings for the Restaurant database
db = client.test
restaurants = db.restaurants

/home/nbuser/anaconda3_420/lib/python3.5/site-packages/pymongo/common.py:555: UserWarning: Unknown option retryWrites
  warnings.warn(str(exc))

## Let's Query!

Querying is basically the same as you would in your command prompt. The only difference is that PyMongo doesn't support .pretty(). For a simple example: to find one of the Bronx restaurants run the cell below and see the output.

In [4]:
print(restaurants.find_one({"borough":"Bronx"}))

{'restaurant_id': '40364363', 'cuisine': 'American', 'borough': 'Bronx', 'name': 'Manhem Club', 'address': {'building': '658', 'street': 'Clarence Ave', 'zipcode': '10465', 'coord': [-73.81363999999999, 40.82941100000001]}, '_id': ObjectId('5cdf44b7905f6d5ca0bcbf0f'), 'grades': [{'date': datetime.datetime(2014, 6, 21, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 7, 11, 0, 0), 'grade': 'A', 'score': 10}]}

Now if we wanted to find ALL of the Bronx restaurants, we simply cannot print the query. It will create a cursor object. To see all of the query results, we need to use a for loop. See below. This example is limited to output the first 5 documents to save space, but if you wanted to see all of the restaurants, just remove the .limit(5).

In [32]:
for restaurant in restaurants.find({"borough":"Bronx"}).limit(5):
    print(restaurant)

{'restaurant_id': '40364363', 'cuisine': 'American', 'borough': 'Bronx', 'name': 'Manhem Club', 'address': {'building': '658', 'street': 'Clarence Ave', 'zipcode': '10465', 'coord': [-73.81363999999999, 40.82941100000001]}, '_id': ObjectId('5cdf44b7905f6d5ca0bcbf0f'), 'grades': [{'date': datetime.datetime(2014, 6, 21, 0, 0), 'grade': 'A', 'score': 5}, {'date': datetime.datetime(2012, 7, 11, 0, 0), 'grade': 'A', 'score': 10}]}
{'restaurant_id': '40363093', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'borough': 'Bronx', 'name': 'Carvel Ice Cream', 'address': {'building': '1006', 'street': 'East 233 Street', 'zipcode': '10466', 'coord': [-73.84856870000002, 40.8903781]}, '_id': ObjectId('5cdf44b7905f6d5ca0bcbeed'), 'grades': [{'date': datetime.datetime(2014, 4, 24, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 9, 5, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 2, 21, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2012, 7, 3, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 7, 11, 0, 0), 'grade': 'A', 'score': 5}]}
{'restaurant_id': '40357217', 'cuisine': 'American', 'borough': 'Bronx', 'name': 'Wild Asia', 'address': {'building': '2300', 'street': 'Southern Boulevard', 'zipcode': '10460', 'coord': [-73.8786113, 40.8502883]}, '_id': ObjectId('5cdf44b7905f6d5ca0bcbed8'), 'grades': [{'date': datetime.datetime(2014, 5, 28, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2013, 6, 19, 0, 0), 'grade': 'A', 'score': 4}, {'date': datetime.datetime(2012, 6, 15, 0, 0), 'grade': 'A', 'score': 3}]}
{'restaurant_id': '40364296', 'cuisine': 'Chinese', 'borough': 'Bronx', 'name': 'Happy Garden', 'address': {'building': '277', 'street': 'East Kingsbridge Road', 'zipcode': '10458', 'coord': [-73.8941893, 40.8634684]}, '_id': ObjectId('5cdf44b7905f6d5ca0bcbf0b'), 'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 9, 26, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2013, 3, 19, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2012, 8, 29, 0, 0), 'grade': 'A', 'score': 11}, {'date': datetime.datetime(2011, 8, 17, 0, 0), 'grade': 'A', 'score': 13}]}
{'restaurant_id': '30075445', 'cuisine': 'Bakery', 'borough': 'Bronx', 'name': 'Morris Park Bake Shop', 'address': {'building': '1007', 'street': 'Morris Park Ave', 'zipcode': '10462', 'coord': [-73.856077, 40.848447]}, '_id': ObjectId('5cdf44b7905f6d5ca0bcbed1'), 'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0), 'grade': 'A', 'score': 2}, {'date': datetime.datetime(2013, 9, 11, 0, 0), 'grade': 'A', 'score': 6}, {'date': datetime.datetime(2013, 1, 24, 0, 0), 'grade': 'A', 'score': 10}, {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'A', 'score': 9}, {'date': datetime.datetime(2011, 3, 10, 0, 0), 'grade': 'B', 'score': 14}]}

This is not the prettiest to look at. So, we can make use of pandas dataframes! First we establish an empty list. We loop through the restaurants in the query and append them to the list. Finally, we make a dataframe out of the list of json objects and display our result. Run the cell below to see a dataframe of 15 of the Indian cuisine restaurants in Brooklyn in our database. YOU MAY NEED TO ADD SOME CODE TO DISPLAY THE DATAFRAME.

In [8]:
brooklynIndian = []
for rest in restaurants.find({"$and": [{"cuisine":"Indian"}, {"borough": "Brooklyn"}]}).limit(15):
    brooklynIndian.append(rest)
testDF = pd.DataFrame(brooklynIndian)

## Your turn!

Use the example above to complete the following exercises. For documentation on Mongo querying visit https://docs.mongodb.com/manual/tutorial/query-documents/ and https://docs.mongodb.com/manual/tutorial/query-embedded-documents/

#1. In the cell below, fill in the missing details to display the fields restaurant_id, name, borough and cuisine, but exclude the ID field for the first 10 documents in the database.

In [9]:
for rest in restaurants.find({},{"restaurant_id" : 1,"name":1, "borough":1, "cuisine":1, "_id":0}).limit(10):
   print(rest)

{'name': 'Riviera Caterer', 'restaurant_id': '40356018', 'cuisine': 'American', 'borough': 'Brooklyn'}
{'name': 'Metropolitan Club', 'restaurant_id': '40364347', 'cuisine': 'American', 'borough': 'Manhattan'}
{'name': 'Taste The Tropics Ice Cream', 'restaurant_id': '40356731', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'borough': 'Brooklyn'}
{'name': 'May May Kitchen', 'restaurant_id': '40358429', 'cuisine': 'Chinese', 'borough': 'Brooklyn'}
{'name': 'Brunos On The Boulevard', 'restaurant_id': '40356151', 'cuisine': 'American', 'borough': 'Queens'}
{'name': 'Tov Kosher Kitchen', 'restaurant_id': '40356068', 'cuisine': 'Jewish/Kosher', 'borough': 'Queens'}
{'name': 'Carvel Ice Cream', 'restaurant_id': '40360076', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'borough': 'Brooklyn'}
{'name': "Dunkin' Donuts", 'restaurant_id': '40363098', 'cuisine': 'Donuts', 'borough': 'Brooklyn'}
{'name': 'Berkely', 'restaurant_id': '40363685', 'cuisine': 'American', 'borough': 'Manhattan'}
{'name': 'Texas Rotisserie', 'restaurant_id': '40364304', 'cuisine': 'Chicken', 'borough': 'Manhattan'}

#2. Find the first 10 restaurants who have received a _score less than_ 50.

In [22]:
for rest in restaurants.find({"grades.score":{"$lt" : 50}},{"restaurant_id" : 1,"name":1, "grades.score":1, "_id":0}).limit(10):
    print(rest)

{'restaurant_id': '40356018', 'grades': [{'score': 5}, {'score': 7}, {'score': 12}, {'score': 12}], 'name': 'Riviera Caterer'}
{'restaurant_id': '40364347', 'grades': [{'score': 24}, {'score': 4}, {'score': 13}, {'score': 12}, {'score': 17}, {'score': 11}], 'name': 'Metropolitan Club'}
{'restaurant_id': '40356731', 'grades': [{'score': 12}, {'score': 8}, {'score': 5}, {'score': 8}], 'name': 'Taste The Tropics Ice Cream'}
{'restaurant_id': '40358429', 'grades': [{'score': 21}, {'score': 7}, {'score': 56}, {'score': 27}, {'score': 27}], 'name': 'May May Kitchen'}
{'restaurant_id': '40356151', 'grades': [{'score': 38}, {'score': 10}, {'score': 7}, {'score': 13}], 'name': 'Brunos On The Boulevard'}
{'restaurant_id': '40356068', 'grades': [{'score': 20}, {'score': 13}, {'score': 13}, {'score': 25}], 'name': 'Tov Kosher Kitchen'}
{'restaurant_id': '40360076', 'grades': [{'score': 2}, {'score': 13}, {'score': 3}, {'score': 12}, {'score': 13}], 'name': 'Carvel Ice Cream'}
{'restaurant_id': '40363098', 'grades': [{'score': 8}, {'score': 9}, {'score': 11}, {'score': 10}], 'name': "Dunkin' Donuts"}
{'restaurant_id': '40363685', 'grades': [{'score': 9}, {'score': 5}, {'score': 12}, {'score': 11}, {'score': 13}], 'name': 'Berkely'}
{'restaurant_id': '40364304', 'grades': [{'score': 12}, {'score': 48}, {'score': 13}, {'score': 8}, {'score': 7}], 'name': 'Texas Rotisserie'}

#3. Return _only_ the name, cuisine, and borough for 20 documents that are _NOT IN_ the Bronx, Queens, or Staten Island (Hint: There is a Mongo method called $nin for "not in".)

In [27]:
for rest in restaurants.find({"borough":{"$nin":["Bronx", "Queens", "Staten Island"]}},{"name":1, "borough":1, "cuisine":1, "_id":0}).limit(20):
    print(rest)

{'name': 'Riviera Caterer', 'cuisine': 'American', 'borough': 'Brooklyn'}
{'name': 'Metropolitan Club', 'cuisine': 'American', 'borough': 'Manhattan'}
{'name': 'Taste The Tropics Ice Cream', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'borough': 'Brooklyn'}
{'name': 'May May Kitchen', 'cuisine': 'Chinese', 'borough': 'Brooklyn'}
{'name': 'Carvel Ice Cream', 'cuisine': 'Ice Cream, Gelato, Yogurt, Ices', 'borough': 'Brooklyn'}
{'name': "Dunkin' Donuts", 'cuisine': 'Donuts', 'borough': 'Brooklyn'}
{'name': 'Berkely', 'cuisine': 'American', 'borough': 'Manhattan'}
{'name': 'Texas Rotisserie', 'cuisine': 'Chicken', 'borough': 'Manhattan'}
{'name': 'Nordic Delicacies', 'cuisine': 'Delicatessen', 'borough': 'Brooklyn'}
{'name': "Wendy'S", 'cuisine': 'Hamburgers', 'borough': 'Brooklyn'}
{'name': 'The Country Cafe', 'cuisine': 'Turkish', 'borough': 'Manhattan'}
{'name': 'Glorious Food', 'cuisine': 'American', 'borough': 'Manhattan'}
{'name': 'C & C Catering Service', 'cuisine': 'American', 'borough': 'Brooklyn'}
{'name': "Lorenzo & Maria'S", 'cuisine': 'Continental', 'borough': 'Manhattan'}
{'name': "Bully'S Deli", 'cuisine': 'Delicatessen', 'borough': 'Manhattan'}
{'name': 'Downtown Deli', 'cuisine': 'American', 'borough': 'Manhattan'}
{'name': "Olive'S", 'cuisine': 'Bakery', 'borough': 'Manhattan'}
{'name': 'Golden Pavillion', 'cuisine': 'Chinese', 'borough': 'Brooklyn'}
{'name': 'Mejlander & Mulgannon', 'cuisine': 'American', 'borough': 'Brooklyn'}
{'name': 'Lexler Deli', 'cuisine': 'Sandwiches/Salads/Mixed Buffet', 'borough': 'Manhattan'}

#4. Due to a recent inventory mishap, a client needs the names and addresses for the Mexican restaurants north of the Central Park Zoo (lattitude: 40.7678). Do not return the id. This client will only visit the first 20 restaurants in ascending order by name, so only return those. __Hint__: will need to make use of pymongo.ASCENDING. You can also use a a property of the address atribute, address.coord. You are lucky in this case that the longitudes are all negative numbers so you can find an easy way to search for a lattitude number greater than the lattitude of interest.

In [31]:
for rest in restaurants.find({"$and":[{"cuisine":"Mexican"},{"address.coord.1":{'$gt':40.7678}}]},{'name':1,"address":1,'_id':0}).sort('name',pymongo.ASCENDING).limit(20):
    print(rest)

{'address': {'building': '744', 'street': 'East Tremont Avenue', 'zipcode': '10457', 'coord': [-73.889686, 40.844425]}, 'name': '3 Mounts'}
{'address': {'building': '414', 'street': 'East 138 Street', 'zipcode': '10454', 'coord': [-73.92245900000002, 40.808622]}, 'name': '414 Latino Restaurant Sports Bar'}
{'address': {'building': '2445', 'street': 'Creston Avenue', 'zipcode': '10468', 'coord': [-73.8989026, 40.8616336]}, 'name': 'A&E Tenochtitlan Deli & Taqueria'}
{'address': {'building': '2888', 'street': 'Broadway', 'zipcode': '10025', 'coord': [-73.9653136, 40.8055357]}, 'name': 'Amigos'}
{'address': {'building': '783', 'street': 'Lyding Ave', 'zipcode': '10462', 'coord': [-73.8645049, 40.85462340000001]}, 'name': 'Azul Tequila Mexican Restaurant'}
{'address': {'building': '1770', 'street': 'East Tremont Avenue', 'zipcode': '10460', 'coord': [-73.8686874, 40.8396451]}, 'name': 'Burger One Grill'}
{'address': {'building': '3764', 'street': 'East Tremont Avenue', 'zipcode': '10465', 'coord': [-73.8215929, 40.825758]}, 'name': 'Cabo Restaurant'}
{'address': {'building': '368', 'street': 'Columbus Avenue', 'zipcode': '10024', 'coord': [-73.97644199999999, 40.7810076]}, 'name': 'Cafe Frida'}
{'address': {'building': '1838', 'street': 'Adam Clayton Powell Jr Boulevard', 'zipcode': '10026', 'coord': [-73.955101, 40.80038500000001]}, 'name': 'Cantina'}
{'address': {'building': '1470', 'street': '1 Avenue', 'zipcode': '10075', 'coord': [-73.9536119, 40.7705841]}, 'name': 'Canyon Road Grill'}
{'address': {'building': '800', 'street': 'East  149 Street', 'zipcode': '10455', 'coord': [-73.9065883, 40.8125405]}, 'name': 'Carnitas El Atoradero'}
{'address': {'building': '898', 'street': 'Amsterdam Avenue', 'zipcode': '10025', 'coord': [-73.9670733, 40.7989195]}, 'name': 'Casa Mexicana'}
{'address': {'building': '2799', 'street': 'Broadway', 'zipcode': '10025', 'coord': [-73.96805750000001, 40.8028278]}, 'name': 'Cascabel Taqueria'}
{'address': {'building': '1556', 'street': '2 Avenue', 'zipcode': '10028', 'coord': [-73.9539549, 40.774339]}, 'name': 'Cascabel Taqueria'}
{'address': {'building': '2126', 'street': '2 Avenue', 'zipcode': '10029', 'coord': [-73.940585, 40.792663]}, 'name': 'Cascalote Latin Bistro'}
{'address': {'building': '536', 'street': 'East  138 Street', 'zipcode': '10454', 'coord': [-73.91823099999999, 40.806821]}, 'name': 'Cervantes Restaurant'}
{'address': {'building': '768', 'street': 'Amsterdam Avenue', 'zipcode': '10025', 'coord': [-73.969911, 40.795201]}, 'name': 'Chicojulio'}
{'address': {'building': '1221', 'street': '6 Avenue', 'zipcode': '10020', 'coord': [-92.7182167, 41.7467777]}, 'name': 'Chipotle Mexican Grill'}
{'address': {'building': '350', 'street': '5 Avenue', 'zipcode': '10018', 'coord': [-93.2069217, 43.14769159999999]}, 'name': 'Chipotle Mexican Grill'}
{'address': {'building': '2843', 'street': 'Broadway', 'zipcode': '10025', 'coord': [-73.9667671, 40.804585]}, 'name': 'Chipotle Mexican Grill'}

#5. Did you know that MongoDB also supports regular expressions? We have a client that can't remember the name of a restaurant they rated. All this client knows is that it was an American cuisine restaurant in Manhattan whose name started with "Mad". We have a few of these in our database. We will create a dataframe of these restaurants to send to our client. Fill in the missing detail below to run this and print the result (Hint: In Mongo, you can indicate that you want the string to START with a particular pattern by using the '^' as an anchor at the beginning of the string).

In [30]:
mysteryRestaurant=[]
for rest in restaurants.find({"name":{"$regex":"^Mad"},"cuisine":{"$regex":"American"},"borough":"Manhattan"}):
    mysteryRestaurant.append(rest)
result=pd.DataFrame(mysteryRestaurant)
result

,_id,address,borough,cuisine,grades,name,restaurant_id
0,5cdf44b8905f6d5ca0bcc437,"{'building': '51', 'street': 'Madison Avenue',...",Manhattan,American,"[{'date': 2015-01-13 00:00:00, 'grade': 'A', '...",Madison Square,40402527
1,5cdf44b8905f6d5ca0bcc7cf,"{'building': '94', 'street': 'West Houston Str...",Manhattan,American,"[{'date': 2014-03-14 00:00:00, 'grade': 'A', '...",Madame X,40611024
2,5cdf44b9905f6d5ca0bccce9,"{'building': '1442', 'street': '3 Avenue', 'zi...",Manhattan,American,"[{'date': 2014-12-10 00:00:00, 'grade': 'A', '...",Mad River Bar & Grille,40859224
3,5cdf44b9905f6d5ca0bcd6c1,"{'building': '360', 'street': '3 Avenue', 'zip...",Manhattan,American,"[{'date': 2014-05-05 00:00:00, 'grade': 'A', '...",Mad Hatter Saloon,41149372
4,5cdf44bb905f6d5ca0bcdf6a,"{'building': '299', 'street': 'Madison Avenue'...",Manhattan,American,"[{'date': 2014-09-02 00:00:00, 'grade': 'B', '...",Madison & Vine,41305028
5,5cdf44bb905f6d5ca0bce68a,"{'building': '965', 'street': '1 Avenue', 'zip...",Manhattan,American,"[{'date': 2014-08-28 00:00:00, 'grade': 'A', '...",Madison Restaurant,41401638
6,5cdf44bc905f6d5ca0bcf55a,"{'building': '420', 'street': 'Madison Avenue'...",Manhattan,American,"[{'date': 2014-11-25 00:00:00, 'grade': 'A', '...",Madison Deli,41576836
7,5cdf44be905f6d5ca0bd0481,"{'building': '4', 'street': 'Pennsylvania Plaz...",Manhattan,American,"[{'date': 2014-04-02 00:00:00, 'grade': 'A', '...",Madison Club (Bb7184),41694730
8,5cdf44bf905f6d5ca0bd1b91,"{'building': '27', 'street': 'Saint James Plac...",Manhattan,American,"[{'date': 2014-08-04 00:00:00, 'grade': 'A', '...",Madison Plaza Gourmet,50011350

Keep in mind: The flexibility of Mongo's schema can cause these dataframes to get very messy. Data cleaning will be a crucial step before analysis when using Python on top of MongoDB!